h4.text-primary.font-weight-bold Applicant
//- button.btn.btn-outline-primary(data-toggle='modal' data-target='#selectApplicant') select
a.btn.btn-outline-primary(href='/applicants/') select
button.btn.btn-outline-success(data-toggle='modal' data-target='#createApplicant') create
if applicant
    p.my-3
        span
            small.font-weight-bold.text-primary id: 
        span
            small#applicantId= applicant?applicant.id:''
        br 
        span
            small.font-weight-bold.text-primary firstname: 
        span
            small= applicant?applicant.firstName:''
        br 
        span
            small.font-weight-bold.text-primary lastname: 
        span
            small= applicant?applicant.lastName:''
    if documents.length > 0
        h5.my-3.text-primary documents
        each document, index in documents
            if index < 2
                p
                    image(src=document height=72 width=128)
    //- if photos.length > 0
    //-     h5.my-3.text-primary photos
    //-     p
    //-         each photo, index in photos
    //-             if index < 1
    //-                 image.mr-2(src=photo height=128 width=72)
    //- if videos.length > 0
    //-     h5.my-3.text-primary videos
    //-     p
    //-         each video, index in videos
    //-             if index < 1            
    //-                 image.mr-2(src=video height=128 width=72)
    button.my-3.btn.btn-outline-danger(data-toggle='modal' data-target='#deleteApplicant') delete

// Modal Create Applicant
#createApplicant.modal.fade(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                h4.text-primary.font-weight-bold.modal-title create applicant
                button.close(type='button' data-dismiss='modal')
                    span &times;
            form#applicant(action='/applicants/new' method='post')
                .modal-body
                    .form-group
                        label.bmd-label-floating Firstname
                        input#firstname.form-control(type='text' name='firstname')
                    .form-group
                        label.bmd-label-floating Lastname
                        input#lastname.form-control(type='text' name='lastname')
                .modal-footer
                    button.btn.btn-outline-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit' value='applicant') Create

// Modal Delete Applicant
if applicant
    #deleteApplicant.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.text-primary.font-weight-bold.modal-title Delete applicant
                    button.close(type='button' data-dismiss='modal')
                        span &times;
                .modal-body
                    p Confirm deletion?
                    span
                        small.font-weight-bold id: 
                    span
                        small= applicant?applicant.id:''
                    br 
                    span
                        small.font-weight-bold firstname: 
                    span
                        small= applicant?applicant.firstName:''
                    br 
                    span
                        small.font-weight-bold lastname: 
                    span
                        small= applicant?applicant.lastName:''
                .modal-footer
                        button.btn.btn-outline-secondary(type='button' data-dismiss='modal') Cancel
                        a.btn.btn-danger(type='buttton' href='/applicants/'+applicant.id+'/delete') Delete

