h4.text-primary.font-weight-bold Applicant
a.btn.btn-outline-primary(href='/applicants/') select
button.btn.btn-outline-success(data-toggle='modal' data-target='#createApplicant') create
if applicant
    //- a.btn.btn-outline-secondary(href='/applicants/'+applicant.id) SDK &amp; API
    p.mt-3
        span
            small.font-weight-bold.text-primary id: 
        span
            small#applicantId= applicant?applicant.id:''
        br 
        span
            small.font-weight-bold.text-primary firstname: 
        span
            small= applicant?applicant.first_name:''
        br 
        span
            small.font-weight-bold.text-primary lastname: 
        span
            small= applicant?applicant.last_name:''
    if documents.length > 0
        h5.my-3.text-primary documents
        .d-flex.flex-row.flex-wrap.justify-content-start.align-items-start
            - var front = false
            - var back = false
            each document in documents                
                if !front
                    if document.side == 'front'
                        - front = true
                        .d-flex.flex-column.justify-content-start.align-items-center.ml-1
                            a(href='/documents/'+document.id target='_blank')
                                image(src='/documents/'+document.id width=75)
                            a.btn.btn-sm.btn-outline-secondary(href='/autofill/'+document.id) autofill
                if !back
                    if document.side == 'back'
                        - back = true
                        .d-flex.flex-column.justify-content-start.align-items-center.ml-1
                            a(href='/documents/'+document.id target='_blank')
                                image(src='/documents/'+document.id width=75)
                            a.btn.btn-sm.btn-outline-secondary(href='/autofill/'+document.id) autofill
    if photos.length > 0
        h5.my-3.text-primary photos
        p
            each photo, index in photos
                if index < 1
                    a(href='/photos/'+photo.id target='_blank')
                        image.mr-2(src='/photos/'+photo.id width=75)
    if videos.length > 0
        h5.my-3.text-primary videos
        p
            each video, index in videos
                if index < 1
                    a(href='/videos/'+video.id target='_blank')
                        image.mr-2(src='/videos/'+video.id width=75)
    button.my-3.btn.btn-outline-danger(data-toggle='modal' data-target='#deleteApplicant') delete

// Modal Create Applicant
#createApplicant.modal.fade(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                h4.text-primary.font-weight-bold.modal-title create applicant
                button.close(type='button' data-dismiss='modal')
                    span &times;
            form#applicant(action='/applicants/new' method='post')
                .modal-body
                    .form-group
                        label.bmd-label-floating Firstname
                        input#firstname.form-control(type='text' name='firstname')
                    .form-group
                        label.bmd-label-floating Lastname
                        input#lastname.form-control(type='text' name='lastname')
                    //- .form-group
                    //-     label.bmd-label-floating Street
                    //-     input#street.form-control(type='text' name='street')
                    //- .form-group
                    //-     label.bmd-label-floating Town
                    //-     input#town.form-control(type='text' name='town')
                    //- .form-group
                    //-     label.bmd-label-floating Postcode
                    //-     input#postcode.form-control(type='text' name='postcode')
                    //- .form-group
                    //-     label.bmd-label-floating Country
                    //-     input#country.form-control(type='text' name='country')
                .modal-footer
                    button.btn.btn-outline-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit' value='applicant') Create

// Modal Delete Applicant
if applicant
    #deleteApplicant.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.text-primary.font-weight-bold.modal-title Delete applicant
                    button.close(type='button' data-dismiss='modal')
                        span &times;
                .modal-body
                    p Confirm deletion?
                    span
                        small.font-weight-bold id: 
                    span
                        small= applicant?applicant.id:''
                    br 
                    span
                        small.font-weight-bold firstname: 
                    span
                        small= applicant?applicant.first_name:''
                    br 
                    span
                        small.font-weight-bold lastname: 
                    span
                        small= applicant?applicant.last_name:''
                .modal-footer
                        button.btn.btn-outline-secondary(type='button' data-dismiss='modal') Cancel
                        a.btn.btn-danger(type='buttton' href='/applicants/'+applicant.id+'/delete') Delete

