.nav.nav-tabs.text-center(data-tabs='tabs')
    a.nav-item.nav-link.text-info.float-right.active(data-toggle='tab' href='#api-calls') 
        h4.font-weight-bold API Calls
    //- if showSdkEvents
    a.nav-item.nav-link.text-info.float-left(data-toggle='tab' href='#sdk-events')
        h4.font-weight-bold SDK Events
    a.nav-item.nav-link.text-info(data-toggle='tab' href='#webhook_pane')
        h4.font-weight-bold Webhook
.d-flex.flex-column.justify-content-start
    a.btn.btn-outline-info(type='button' href='/stacktrace/clear') clear
    .tab-content
        table.table.tab-pane.active#api-calls(style='font-size: 0.7rem;')
            thead
                tr
                    th 
                        small DATE
                    th 
                        small API METHOD
                    th 
                        small TYPE
                    th 
                        small DELAY
            if stacktrace
                each message in stacktrace
                    tbody
                        tr(data-toggle='toggle')
                            td= message.date.substr(11)
                            td= message.api
                            td= message.type
                            td= message.delai
                    tbody.hide(style='display:none;')
                        tr
                            td(colspan='4')
                                pre= message.data
        table.table.tab-pane#sdk-events(style='font-size: 0.7rem;')
            thead
                tr
                    th 
                        small EVENT
                    th 
                        small TIMESTAMP
        .tab-pane.flex-column#webhook_pane
            row
                .input-group.mb-3
                    input#webhook_url.form-control(placeholder='your webhook url...' value='https://tga-onfido.requestcatcher.com/')
                    button#webhook_button.btn.btn-sm.btn-outline-secondary.ml-1(type='button') view
            row
                iframe#webhook_iframe.w-100.border-0.d-none(style='height: calc(100vh - 320px); overflow: hidden;')
