h4.text-info.font-weight-bold stack trace
a.btn.btn-outline-info(type='button' href='/stacktrace/clear') clear
table.table(style='font-size: 0.7rem;')
    thead
        tr
            th 
                small DATE
            th 
                small API METHOD
            th 
                small TYPE
            th 
                small DELAY
    if stacktrace
        each message in stacktrace
            tbody
                tr(data-toggle='toggle')
                    td= message.date.substr(11)
                    td= message.api
                    td= message.type
                    td= message.delai
            tbody.hide(style='display:none;')
                tr
                    td(colspan='4')
                        pre= message.data