extends layout

append head
    // Onfido SDK CSS
    link(rel='stylesheet' href='/dist/style.css')

block content
  .d-flex.flex-column.align-items-center
    if usecase.steps[current_index].process_name
        h6.text-secondary.mt-3= usecase.steps[current_index].process_name
    .mt-5
        #sdk-data(data-token=sdkToken data-applicant-id=applicant.id data-next-step=usecase.steps[current_index+1].route data-options=usecase.steps[current_index].options)
        #onfido-mount

append bottom
    script(src='/dist/onfido.min.js')
    script(src='/javascripts/step_capture.js')
    