extends layout

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-lg-6.col-md-8.col-sm-12
                    form(method='post' action='')
                        .card
                            .card-header.card-header-primary
                                .float-right
                                    button.btn.btn-info(type='submit') save
                                .float-left
                                    a.btn.btn-primary.mr-4.goback &lt;
                                if applicant.id
                                    h4.card-title= 'Applicant created at '
                                        +displayDate(applicant.createdAt)
                                else
                                    h4.card-title= 'Create an applicant'
                                p.card-category= newApplicant ? null : applicant.id
                            .card-body
                                .row.justify-content-center
                                    .col-10
                                        .form-group
                                            label.bmd-label-floating Firstname
                                            input#firstName.form-control(type='text' name='firstName' value=applicant.firstName)
                                        .form-group
                                            label.bmd-label-floating Lastname
                                            input#lastName.form-control(type='text' name='lastName' value=applicant.lastName)
                                        .form-group
                                            label.bmd-label-floating Date of birth
                                            input#dob.form-control(type='date' name='dob' value=(applicant.dob)?applicant.dob:'')
                                        .form-group
                                            label.bmd-label-floating Email
                                            input#email.form-control(type='email' name='email' value=applicant.email)
                                        h6.my-4 Address
                                            .float-right
                                                .small(data-toggle='collapse' data-target='.extended')  extended
                                        .form-group.extended.collapse
                                            label.bmd-label-floating Flat number
                                            input#addressFlatNumber.form-control(type='string' name='addressFlatNumber' value=(applicant.address)?applicant.address.flatNumber:null)
                                        .form-group.extended.collapse
                                            label.bmd-label-floating Building number
                                            input#addressBuildingNumber.form-control(type='string' name='addressBuildingNumber' value=(applicant.address)?applicant.address.buildingNumber:null)
                                        .form-group.extended.collapse
                                            label.bmd-label-floating Building name
                                            input#addressBuildingName.form-control(type='string' name='addressBuildingName' value=(applicant.address)?applicant.address.buildingNamer:null)
                                        .form-group
                                            label.bmd-label-floating Street
                                            input#addressStreet.form-control(type='string' name='addressStreet' value=(applicant.address)?applicant.address.street:null)
                                        .form-group.extended.collapse
                                            label.bmd-label-floating Sub-street
                                            input#addressSubStreet.form-control(type='string' name='addressSubStreet' value=(applicant.address)?applicant.address.subStreet:null)
                                        .form-group
                                            label.bmd-label-floating Town
                                            input#addressTown.form-control(type='string' name='addressTown' value=(applicant.address)?applicant.address.town:null)
                                        .form-group.extended.collapse
                                            label.bmd-label-floating State
                                            input#addressState.form-control(type='string' name='addressState' value=(applicant.address)?applicant.address.state:null)
                                        .form-group
                                            label.bmd-label-floating Postcode
                                            input#addressPostcode.form-control(type='string' name='addressPostcode' value=(applicant.address)?applicant.address.postcode:null)
                                        .form-group
                                            label.bmd-label-floating Country
                                            select#addressCountry.form-control(name='addressCountry')
                                                option(value='')= '-- select country --'
                                                each country in countries
                                                    option(value=country.countryCode selected=(applicant.address)?(country.countryCode === applicant.address.country):false)= country.countryName
                                        .form-group.extended.collapse
                                            label.bmd-label-floating Line 1
                                            input#addressLine1.form-control(type='string' name='addressLine1' value=(applicant.address)?applicant.address.line1:null)
                                        .form-group.extended.collapse
                                            label.bmd-label-floating Line 2
                                            input#addressLine2.form-control(type='string' name='addressLine2' value=(applicant.address)?applicant.address.line2:null)
                                        .form-group.extended.collapse
                                            label.bmd-label-floating Line 3
                                            input#addressLine3.form-control(type='string' name='addressLine3' value=(applicant.address)?applicant.address.line3:null)
                    