extends layout

include mixins/prettyDisplay

block content
    .content
        .container-fluid
            .row
                .col-md-12
                    form
                        .card
                            .card-header.card-header-primary
                                .float-left
                                    button.btn.btn-primary.mr-4.goback &lt;
                                .float-right
                                    if check.status !== 'complete'
                                        button.btn.btn-info(onClick='window.location.reload();') refresh
                                h4.card-title= 'Check created at '
                                    +displayDate(check.createdAt)
                                p.card-category=  check.id
                            .card-body
                                .row
                                    .col-sm-6
                                        .form-group.row
                                            label.col-sm-4.col-form-label(for='firstName') Applicant firstname
                                            .col-sm-8
                                                input#firstName.form-control-plaintext(type='text' readonly='' value=applicant.firstName)
                                        .form-group.row
                                            label.col-sm-4.col-form-label(for='lastName') Applicant lastname
                                            .col-sm-8
                                                input#lastName.form-control-plaintext(type='text' readonly='' value=applicant.lastName)
                                        .form-group.row
                                            label.col-sm-4.col-form-label(for='applicantProvidesData') Data provided by apllicant?
                                            .col-sm-8
                                                input#applicantProvidesData.form-control-plaintext(readonly='' value=(check.applicantProvidesData)?'Yes':'No')
                                    .col-sm-6
                                        .form-group.row
                                            label.col-sm-4.col-form-label(for='status') Status
                                            .col-sm-8
                                                +displayCheckStatus(check.status)
                                        .form-group.row
                                            label.col-sm-4.col-form-label(for='result') Result
                                            .col-sm-8
                                                +displayCheckResult(check.result)
                                        .form-group.row
                                            label.col-sm-4.col-form-label(for='tags') Tags
                                            .col-sm-8
                                                pre
                                                    code= (check.tags.length>0)?check.tags.toString():''
                    .card
                        .card-header.card-header-warning
                            h4.card-title Reports
                            if reports.length > 0
                                p.card-category Click on report to go details
                        .card-body
                            if reports.length > 0
                                .table-responsive
                                    table.table.table-hover
                                        thead.text-primary
                                            th
                                                | Created at
                                            th
                                                | Name
                                            th
                                                | Status
                                            th
                                                | Result
                                            th
                                                | Sub Result
                                            th
                                                | ID
                                        tbody
                                            each report in reports
                                                tr.js-clickable(href='/resources/reports/'+report.id)
                                                    td= report.createdAt
                                                    td= report.name
                                                    td
                                                        +displayReportStatus(report.status)
                                                    td 
                                                        +displayReportResult(report.result)
                                                    td
                                                        +displayReportSubResult(report.subResult)
                                                    td= report.id
                                            