extends layout

include mixins/prettyDisplay

block content
    .content
        .container-fluid
            .row
                .col-xl-4.col-lg-12
                    form
                        .card
                            .card-header.card-header-primary
                                .float-left
                                    button.btn.btn-primary.mr-4.goback &lt;
                                .float-right
                                    if check.status !== 'complete'
                                        button.btn.btn-info(onClick='window.location.reload();') refresh
                                h4.card-title= 'Check created at '
                                    +displayDate(check.createdAt)
                                p.card-category=  check.id
                            .card-body
                                .row
                                    .col-10
                                        .form-group
                                            label.bmd-label-floating Applicant firstname
                                            input#firstName.form-control(type='text' disabled value=applicant.firstName)
                                        .form-group
                                            label.bmd-label-floating Applicant lastname
                                            input#lastName.form-control(type='text' disabled value=applicant.lastName)
                                        .form-group
                                            label.bmd-label-floating Data provided by apllicant?
                                            input#applicantProvidesData.form-control(disabled value=(check.applicantProvidesData)?'Yes':'No')
                                        .form-group
                                            label.bmd-label-floating Status
                                            br
                                            +displayCheckStatus(check.status)
                                        .form-group
                                            label.bmd-label-floating Result
                                            br
                                            +displayCheckResult(check.result)
                                        .form-group
                                            label.bmd-label-floating Tags
                                            pre
                                                code= (check.tags.length>0)?check.tags.toString():''
                .col-xl-8.col-lg-12
                    .card
                        .card-header.card-header-warning
                            h4.card-title Reports
                            if reports.length > 0
                                p.card-category Click on report to go details
                        .card-body
                            if reports.length > 0
                                .table-responsive
                                    table.table.table-hover
                                        thead.text-primary
                                            th
                                                | Created at
                                            th
                                                | Name
                                            th
                                                | Status
                                            th
                                                | Result
                                            th
                                                | Sub Result
                                            th
                                                | ID
                                        tbody
                                            each report in reports
                                                tr.js-clickable(href='/resources/reports/'+report.id)
                                                    td= report.createdAt
                                                    td= report.name
                                                    td
                                                        +displayReportStatus(report.status)
                                                    td 
                                                        +displayReportResult(report.result)
                                                    td
                                                        +displayReportSubResult(report.subResult)
                                                    td= report.id
                                            