extends layout

append head
    link(href='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css' rel='stylesheet')
    // Onfido SDK CSS
    link(rel='stylesheet' href='/dist/style.css')

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-xl-8.col-lg-12
                    .card
                        .card-header.card-header-info
                            .float-left
                                button.btn.btn-info.mr-4.goback &lt;
                            h4.card-title= 'Ulpoad document'
                            p.card-category=  'Applicant id: ' + document.applicant_id
                        .card-body
                            .d-flex.justify-content-around
                                a(href='https://onfido.com/supported-documents/' target='_blank') supported documents
                            .d-flex.justify-content-around         
                                #sdkOptions.card.mx-3.mb-1
                                    .card-body
                                        h6.card-title SDK options
                                        .d-flex.justify-content-around
                                            .d-flex.flex-column.flex-wrap
                                                .form-check.form-check-inline
                                                    input#useModal.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                                    label.form-check-label(for='useModal') display in modal
                                                .form-check.form-check-inline
                                                    input#welcomeStep.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                                    label.form-check-label(for='welcomeStep') add welcome step
                                            .d-flex.flex-column.flex-wrap
                                                .form-check.form-check-inline
                                                    input#forceCrossDevice.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs')
                                                    label.form-check-label(for='forceCrossDevice') capture on mobile device
                                                //- .form-check.form-check-inline
                                                //-     input#useLiveDocumentCapture.form-check-input(type='checkbox' data-toggle='toggle' data-style='mr-1' data-size='xs' checked)
                                                //-     label.form-check-label(for='useLiveDocumentCapture') live document capture
                            .d-flex.justify-content-around
                                .card.text-center.js-showWebUpload(style='width:10rem;')
                                    i.material-icons.pt-4(style='font-size:48px') cloud_upload
                                    .card-body
                                        p.card-text= 'web upload'
                                .card.text-center.js-showOnfidoWebSdk(style='width:10rem;' data-token=sdkToken data-applicant-id=document.applicant_id)
                                    i.material-icons.md-primary.pt-4(style='font-size:48px; color: #9c27b0;') camera_enhance
                                    .card-body.text-primary
                                        p.card-text= 'Onfido SDK ID document'
                                .card.text-center.js-showOnfidoWebSdkPoa(style='width:10rem;' data-token=sdkToken data-applicant-id=document.applicant_id)
                                    i.material-icons.md-primary.pt-4(style='font-size:48px; color: #9c27b0;') camera_enhance
                                    .card-body.text-primary
                                        p.card-text= 'Onfido SDK POA'
                            form#webUpload(method='post' action='' enctype='multipart/form-data' style='display: none')
                                .row.justify-content-center
                                    .col-10
                                        .form-group
                                            label.bmd-label-floating Issuing country
                                            select#issuingCountry.form-control(name='issuingCountry')
                                                each country in countries
                                                    option(value=country.countryCode data-supportedDocuments=country.supportedDocuments)= country.countryName
                                        .form-group
                                            label.bmd-label-floating Document type
                                            select#type.form-control(name='type')
                                                option(value='unknown') Unknown
                                        .form-group
                                            label.bmd-label-floating Document side
                                            select#side.form-control(name='side')
                                                option(value='front') Front
                                                option(value='back') Back
                                        .form-group
                                            label.bmd-label-floating File
                                            input#file.form-control(type='file' name='file' accept='image/jpeg,image/png,application/pdf' required)
                                            p (jpg/png/pdf - min: 32Ko max: 10Mo)
                                        .d-flex.justify-content-around
                                            button.btn.btn-info(type='submit') upload
                                                
                            #onfidoWebSdk(style='display: none')
                                .d-flex.justify-content-around
                                    #onfido-mount

                            #onfidoWebSdkPoa(style='display: none')
                                .d-flex.justify-content-around
                                    #onfido-mount-poa


        
append bottom
    script(src='/dist/onfido.min.js')
    script(src='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js')
    script(src='/javascripts/documentUpload.js')
    script(src='/javascripts/selectCountryAndDocumentType.js')
