extends layout

append head
    link(href='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css' rel='stylesheet')
    // Onfido SDK CSS
    link(rel='stylesheet' href='/dist/style.css')

block content

    // Modal Upload Document
    #uploadDocumentModal.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.text-primary.font-weight-bold.modal-title upload document
                    button.close(type='button' data-dismiss='modal')
                        span &times;
                form#uploadedDocument(action='/sdk' method='post')
                    .modal-body
                        .d-flex.flex-row.justify-content-around
                            .d-flex.flex-column
                                .form-group
                                    label.bmd-label-floating Type
                                    select#documentType.form-control(name='documentType')
                                        optgroup
                                            option(value='national_identity_card') National ID
                                            option(value='passport') Passport 
                                            option(value='visa') Visa
                                            option(value='residence_permit') Residence Permit
                                        optgroup(label='--------------------')
                                            option(value='driving_licence') Driving Licence
                                        optgroup(label='--------------------')
                                            option(value='national_insurance_card') National Health Insurance
                                        optgroup(label='--------------------')
                                            option(value='work_permit') Work Permit
                                            option(value='tax_id') Tax ID
                                            option(value='voter_id') Voter ID
                                            option(value='utility_bill') Utility Bill
                                            option(value='government_letter') Gov Letter
                                            option(value='bank_statment') Bank Statement
                                        optgroup(label='--------------------')
                                            option(value='unknown') unknown
                                .form-group.mt-3
                                    label.bmd-label-floating side
                                    select#documentSide.form-control(name='documentSide')
                                        option front
                                        option back
                                .form-group.mt-3
                                    label.bmd-label-floating issuing country
                                    select#documentIssuingCountry.form-control(name='documentIssuingCountry')
                                        each val, key in countries
                                            option(value=key)= val
                            .d-flex.flex-column
                                h6 File
                                .form-group.form-file-upload.form-file-simple
                                    input.form-control.inputFileVisible(type='text' placeholder='select your file...' tooltip='Valid file formats for documents are jpg, png and pdf. The file size must be between 32KB and 10MB. Maximum supported resolution is 64MPx.')
                                    input#uploadedFile.inputFileHidden(type='file' name='uploadedFile')
                                .custom-control.custom-switch.mt-3
                                    input#validateImageQuality.custom-control-input(type='checkbox')
                                    label.custom-control-label.text-secondary(for='validateImageQuality') validate image quality
                    .modal-footer
                        button.btn.btn-outline-secondary(type='button' data-dismiss='modal') Cancel
                        button.btn.btn-success(type='submit' value='uploadedDocument') Upload
    // Modal Upload Photo
    #uploadPhotoModal.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.text-primary.font-weight-bold.modal-title upload photo
                    button.close(type='button' data-dismiss='modal')
                        span &times;
                form#uploadedPhoto(action='/sdk' method='post')
                    .modal-body
                        .d-flex.flex-row.justify-content-around
                            .d-flex.flex-column
                                .custom-control.custom-switch.mt-3
                                    input#advancedValidation.custom-control-input(type='checkbox')
                                    label.custom-control-label.text-secondary(for='advancedValidation') Advanced Validation
                            .d-flex.flex-column
                                h6 File
                                .form-group.form-file-upload.form-file-simple
                                    input.form-control.inputFileVisible(type='text' placeholder='select your file...')
                                    input#uploadedFile.inputFileHidden(type='file')
                    .modal-footer
                        button.btn.btn-outline-secondary(type='button' data-dismiss='modal') Cancel
                        button.btn.btn-success(type='submit' value='uploadedDocument') Upload
    //- TODO: Implement custom language & custom steps
    // Modal Custom Language
    #customLanguageModal.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.text-primary.font-weight-bold.modal-title customize language
                    button#resetCustomLanguage.btn.btn-info(type='button' data-dismiss='modal') Default
                    button#udpateCustomLanguage.btn.btn-success(type='button' data-dismiss='modal') Update
                .modal-body
                    textarea#customLanguageEditor.form-control(rows='55')= JSON.stringify(customLanguage, null, 4)
                    input#customLanguage(type='hidden' value='')
    // Modal Custom Steps
    #customStepsModal.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.text-primary.font-weight-bold.modal-title customize steps
                    button#resetCustomSteps.btn.btn-info(type='button' data-dismiss='modal') Reset
                    button#udpateCustomSteps.btn.btn-success(type='button' data-dismiss='modal') Update
                .modal-body
                    textarea#customStepsEditor.form-control(rows='55')= JSON.stringify(customSteps, null, 4)
                    input#customSteps(type='hidden' value='')
    // Modal Custom UI
    #customUIModal.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.text-primary.font-weight-bold.modal-title customize UI
                    button#resetCustomUI.btn.btn-info(type='button' data-dismiss='modal') Default
                    button#udpateCustomUI.btn.btn-success(type='button' data-dismiss='modal') Update
                .modal-body
                    textarea#customUIEditor.form-control(rows='55')= JSON.stringify(customUI, null, 4)
                    input#customUI(type='hidden' value='')
                    
                    

    .d-flex.flex-column
        .d-flex.flex-row.justify-content-around
            a.btn.py-4.mx-4(href='/sdk') Capture (SDK)
            - var canWeAuthenticate = (photos.length > 0 || videos.length > 0)
            if canWeAuthenticate
                a.btn.btn-outline-secondary.py-4.mx-4(href='/authenticate') Authenthicate (SDK)
            - var hasSomethingToVerify = (documents.length > 0 || photos.length > 0 || videos.length > 0)
            //- if hasSomethingToVerify
            if true
                a.btn.btn-outline-secondary.py-4.mx-4(href='/checks/new') Verify (API)
            a.btn.btn-outline-secondary.py-4.mx-4(href='/checks') Consult checks
            a.btn.btn-outline-warning.py-4.mx-4(href='/orchestration') Orchestration
        .d-flex.flex-row.justify-content-around.mt-4
            .d-flex.flex-column.flex-wrap
                h6 Display
                .custom-control.custom-switch
                    input#useModal.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='useModal') display in modal                                    
                .custom-control.custom-switch
                    input#welcomeStep.custom-control-input(type='checkbox')
                    label.custom-control-label.text-secondary(for='welcomeStep') add welcome step
                .custom-control.custom-switch
                    input#completeStep.custom-control-input(type='checkbox')
                    label.custom-control-label.text-secondary(for='completeStep') add complete step
                .custom-control.custom-switch.d-none
                    input#hideOnfidoLogo.custom-control-input(type='checkbox')
                    label.custom-control-label.text-secondary(for='hideOnfidoLogo') hide Onfido logo

            .d-flex.flex-column.flex-wrap.ml-5
                h6 Capture
                .custom-control.custom-switch
                    input#documentStep.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='documentStep') document photo
                .custom-control.custom-switch
                    input#documentVideoStep.custom-control-input(type='checkbox')
                    label.custom-control-label.text-secondary(for='documentVideoStep') document video
                .custom-control.custom-switch
                    input#selfieStep.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='selfieStep') face selfie
                .custom-control.custom-switch
                    input#videoStep.custom-control-input(type='checkbox')
                    label.custom-control-label.text-secondary(for='videoStep') face video
                .custom-control.custom-switch
                    input#poaStep.custom-control-input(type='checkbox')
                    label.custom-control-label.text-secondary(for='poaStep') proof of address
                .custom-control.custom-switch
                    input#forceCrossDevice.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='forceCrossDevice') force mobile device
                .custom-control.custom-switch
                    input#useLiveDocumentCapture.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='useLiveDocumentCapture') use live document capture
                                    
            .d-flex.flex-column.flex-wrap.ml-5
                h6 accepted document types
                .custom-control.custom-switch
                    input#acceptPassport.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='acceptPassport') passport
                .custom-control.custom-switch
                    input#acceptNationalId.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='acceptNationalId') national ID card
                .custom-control.custom-switch
                    input#acceptDrivingLicence.custom-control-input(type='checkbox')
                    label.custom-control-label.text-secondary(for='acceptDrivingLicence') driving licence
                .custom-control.custom-switch
                    input#acceptResidencePermit.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='acceptResidencePermit') residence permit
                //- .custom-control.custom-switch
                //-     input#acceptOthers.custom-control-input(type='checkbox')
                //-     label.custom-control-label.text-secondary(for='acceptOthers') others
                .custom-control.custom-switch.d-none
                    input#showCountrySelection.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.text-secondary(for='showCountrySelection') show country selection

        .d-flex.flex-row.justify-content-between.align-items-center.mt-3
            .d-flex.flex-column.flex-wrap
                h6(style='margin-top:0.5rem;') language
                .btn-group.btn-group-toggle.ml-3(data-toggle='buttons')
                    label.btn.btn-xs.btn-outline-secondary
                        input#languageEN(type='radio' name='language' autocomplete='off' value='en_US')
                        | EN
                    label.btn.btn-xs.btn-outline-secondary.active
                        input#languageFR(type='radio' name='language' autocomplete='off' value='fr_FR' checked)
                        | FR
                    label.btn.btn-xs.btn-outline-secondary
                        input#languageES(type='radio' name='language' autocomplete='off' value='es_ES')
                        | ES
                    label.btn.btn-xs.btn-outline-secondary
                        input#languageDE(type='radio' name='language' autocomplete='off' value='de_DE')
                        | DE
                    label.btn.btn-xs.btn-outline-secondary
                        input#languageIT(type='radio' name='language' autocomplete='off' value='it_IT')
                        | IT
                    label.btn.btn-xs.btn-outline-secondary
                        input#languagePT(type='radio' name='language' autocomplete='off' value='pt_PT')
                        | PT
                    label.btn.btn-xs.btn-outline-secondary
                        input#languageNL(type='radio' name='language' autocomplete='off' value='nl_NL')
                        | NL
            .d-flex.flex-row.flex-wrap
                button.btn.btn-sm.btn-outline-primary.mx-3.d-none(data-toggle='modal' data-target='#customLanguageModal') customize language
                button.btn.btn-sm.btn-outline-primary.mx-3.d-none(data-toggle='modal' data-target='#customStepsModal') customize steps
                button.btn.btn-sm.btn-outline-primary.mx-3(data-toggle='modal' data-target='#customUIModal') customize UI
        .d-flex.flex-row.justify-content-around
            button#dislpaySdk.btn.btn-info.my-4(type='button' data-token=sdkToken data-applicant-id=applicant.id) display SDK
            //- button.btn.btn-outline-secondary.my-4.ml-4(data-toggle='modal' data-target='#uploadDocumentModal' data-applicant-id=applicant.id) upload Document
            //- button.btn.btn-outline-secondary.my-4.ml-4(data-toggle='modal' data-target='#uploadPhotoModal' data-applicant-id=applicant.id) upload Selfie
        .d-flex.flex-row.justify-content-around
            #onfido-mount.my-4

append bottom
    script(src='/dist/onfido.min.js')
    script(src='https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js')
    script(src='/javascripts/sdk.js')
    