extends layout

block content
    .content
        .container-fluid
            .row.justify-content-center
                .col-xl-8.col-lg-12
                    .card
                        .card-header.card-header-info
                            .float-left
                                button.btn.btn-info.mr-4.goback &lt;
                            h4.card-title= 'Watchlist'
                        .card-body
                            form(action='' method='post')
                                .row.justify-content-center
                                    .col-10
                                        .form-group
                                            label.bmd-label-floating Firstname
                                            input#firstName.form-control(type='text' name='firstName' required)
                                        .form-group
                                            label.bmd-label-floating Lastname
                                            input#lastName.form-control(type='text' name='lastName' required)
                                        .form-group
                                            label.bmd-label-floating Record type
                                            select#reportType.form-control(name='reportType')
                                                option(value='watchlist_standard' selected)= 'Standard'
                                                option(value='watchlist_enhanced')= 'Enhanced'
                                                option(value='watchlist_peps_only')= 'Politically Exposed Person'
                                                option(value='watchlist_sanctions_only')= 'Sanctions List'
                                        .d-flex.justify-content-around.mt-4
                                            button.btn.btn-info(type='submit') Create check
