mixin displayDate(date)
    if date
        if moment(date).format('YYYY/MM/DD') == moment(new Date()).format('YYYY/MM/DD')
            span= moment(date).format('HH:mm')
        else if moment(date).format('YYYY/MM') == moment(new Date()).format('YYYY/MM')
            span= moment(date).format('D MMMM HH:mm')
        else if moment(date).format('YYYY') == moment(new Date()).format('YYYY')
            span= moment(date).format('D MMMM')
        else 
            span= moment(date).format('DD.MM.YYYY')

mixin displayStatus(status)
    if status
        case status
            when 'in_progess'
                span.badge(class='badge-info')= status
            when 'awaiting_applicant'
            when 'awaiting_data'
            when 'awaiting_approval'
                span.badge(class='badge-primary')= status
            when 'complete'
                span.badge(class='badge-success')= status
            when 'withdrawn'
                span.badge(class='badge-secondary')= status
            when 'paused'
                span.badge(class='badge-secondary')= status
            when 'reopened'
                span.badge(class='badge-info')= status
            default
                span.badge(class='badge-warning')= status

mixin displayResult(result)
    if result
        case result
            when 'clear'
                span.badge(class='badge-success')= result
            when 'consider'
            when 'caution'
                span.badge(class='badge-warning')= result
            when 'suspected'
                span.badge(class='badge-danger')= result
            when 'rejected'
                span.badge(class='badge-secondary')= result
            default
                span.badge(class='badge-warning')= result

mixin displayJson(json, level)
    if json
        each val, key in json
            if typeof val === 'object'
                +displayJson(val, level+1)
            else
                span(style='margin-left: '+level+'em')= key + ': '
                    b= val
                br